//tipography
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,300italic);


*{
  font-family: Lato;
}


h1{
  font-size: 1.618rem;
  font-family: Lato;
  font-weight: 900;
}

p{
  font-weight: 300;
  font-style: italic;
  line-height: 1.618;
  margin-top: 0.7rem;
}

h2{
  font-weight: 400;
  font-size: 1.953rem;
}

h3, p{
  font-size: 1rem;
  font-weight: 300;
}

h3{
  font-size: 1.563rem;
}


.small-font{
  font-size: 0.618rem
}

@media (min-width: 410px){
  html {font-size: 1rem;}

  body {
   line-height: 1.45;
  }


  h1, h2, h3, h4 {
    margin: 1.414rem 0 0.5rem;
    font-weight: inherit;
    line-height: 1.2; 
  }

  h1 {
    margin-top: 0;
    font-size: 2.441rem;
  }

  h2 {font-size: 1.953rem;}

  h3 {font-size: 1.563rem;}

  // h4 {font-size: 1.25rem;}

  .lead{
    font-size: 1.25rem;
  }

  .small-font, .font_small {font-size: 0.8rem;}
}

// //fontes
// @font-face {
//   font-family: 'droid';
//   src: url('../typography/fonts/droid-serif/DroidSerif.eot'); /* IE9 Compat Modes */
//   src: url('../typography/fonts/droid-serif/DroidSerif.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../typography/fonts/droid-serif/DroidSerif.woff2') format('woff2'), /* Super Modern Browsers */
//        url('../typography/fonts/droid-serif/DroidSerif.woff') format('woff'), /* Pretty Modern Browsers */
//        url('../typography/fonts/droid-serif/DroidSerif.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../typography/fonts/droid-serif/DroidSerif.svg#svgFontName') format('svg'); /* Legacy iOS */
// }

// @font-face {
//   font-family: 'boldRoboto';
//   src: url('../typography/fonts/roboto-bold/Roboto-Bold.eot'); /* IE9 Compat Modes */
//   src: url('../typography/fonts/roboto-bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../typography/fonts/roboto-bold/Roboto-Bold.woff2') format('woff2'), /* Super Modern Browsers */
//        url('../typography/fonts/roboto-bold/Roboto-Bold.woff') format('woff'), /* Pretty Modern Browsers */
//        url('../typography/fonts/roboto-bold/Roboto-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../typography/fonts/roboto-bold/Roboto-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
// }

// @font-face {
//   font-family: 'roboto';
//   src: url('../typography/fonts/roboto-regular/Roboto-Regular.eot'); /* IE9 Compat Modes */
//   src: url('../typography/fonts/roboto-regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../typography/fonts/roboto-regular/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
//        url('../typography/fonts/roboto-regular/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
//        url('../typography/fonts/roboto-regular/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../typography/fonts/roboto-regular/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
// }