@import './grid/grid.scss';
@import './grid/custom-grid.scss';
@import 'variables';
@import '**/*.scss';
@import 'typography';


body{
  margin: 0;
}

header .svg{
  width:10vw;
  float: left;
}

svg{
  width:100%;
  height: auto;
}

textarea,input{
  width: 100%;
}

textarea,
input {
  border: 1px solid gray;
  &:focus {
    border: 2px solid gray;
  }
}

textarea {
  resize: none;
}

section{
  margin-bottom: 3rem;
}

input {
  height: 2.3rem;
  &[type=number] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
 
}

.bullet {
  display: inline-block;
  font-size: 1rem;
  height: 20px;
  width: 20px;
  border-radius: 50% 50%;
  background: $c2;
  color: white;
  text-align: center;
  position: relative;
  top: -5px;
  // font-weight: bold;
}

.question{
  margin-bottom:1.5rem;
}

button.send{
  border:none;
  color: white;
  background: $c3;
  font-size:1.5rem;
  padding: 0.5rem 1rem;
  position: relative;
  top: -1rem;
  float:right;
  cursor: pointer;
}

.cities{
  position:relative;
  z-index:1;
}