@import url(https://fonts.googleapis.com/css?family=Lato:400,900,300italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,300italic);
* {
  box-sizing: border-box; }

.grid {
  max-width: 45rem;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .grid {
      padding: 1.25rem; } }
  .grid .grid {
    padding: 0; }

.center > * {
  margin-left: auto;
  margin-right: auto; }

r
.column {
  float: none !important; }

.row:after {
  content: '';
  display: block;
  clear: both; }

.row > * {
  float: left; }
  .row > *:last-child:not(:first-child) {
    float: right; }

.s-full {
  width: 100%;
  margin-bottom: 1rem; }

.s-2 {
  width: 16.66667%; }

.s-3 {
  width: 25%; }

.s-4 {
  width: 33.33333%; }

.s-5 {
  width: 41.66667%; }

.s-6 {
  width: 50%; }

.s-7 {
  width: 58.33333%; }

.s-8 {
  width: 66.66667%; }

.s-9 {
  width: 75%; }

.s-10 {
  width: 83.33333%; }

@media (max-height: 48rem) {
  .show-for-medium-up {
    display: none; } }

@media (min-width: 48rem) {
  .show-for-medium-up {
    display: block; }
  .m-full {
    width: 100%;
    margin-bottom: 1rem; }
  .m-2 {
    width: 16.66667%; }
  .m-3 {
    width: 25%; }
  .m-4 {
    width: 33.33333%; }
  .m-5 {
    width: 41.66667%; }
  .m-6 {
    width: 50%; }
  .m-7 {
    width: 58.33333%; }
  .m-8 {
    width: 66.66667%; }
  .m-9 {
    width: 75%; }
  .m-10 {
    width: 83.33333%; } }

/* Large screens */
@media (min-width: 60rem) {
  .l-full {
    width: 100%;
    margin-bottom: 1rem; }
  .l-2 {
    width: 16.66667%; }
  .l-3 {
    width: 25%; }
  .l-4 {
    width: 33.33333%; }
  .l-5 {
    width: 41.66667%; }
  .l-6 {
    width: 50%; }
  .l-7 {
    width: 58.33333%; }
  .l-8 {
    width: 66.66667%; }
  .l-9 {
    width: 75%; }
  .l-10 {
    width: 83.33333%; } }

@media (min-width: 380px) {
  .s-380-4 {
    width: 33.33333% !important; } }

@media (min-width: 410px) {
  .s-410-4 {
    width: 33.33333% !important; }
  .s-410-6 {
    width: 50% !important; }
  .s-410-8 {
    width: 66.66667% !important; } }

@media (min-width: 570px) {
  .hide-for-570-up {
    display: none; }
  .s-570-6 {
    width: 50% !important; }
  .s-570-3 {
    width: 25% !important; } }

@media (min-width: 768px) {
  .m-768-full {
    width: 100% !important; }
  .m-768-2 {
    width: 16.66667% !important; }
  .m-768-3 {
    width: 25% !important; }
  .m-768-4 {
    width: 33.33333% !important; }
  .m-768-5 {
    width: 41.66667% !important; }
  .m-768-6 {
    width: 50% !important; }
  .m-768-7 {
    width: 58.33333% !important; }
  .m-768-8 {
    width: 66.66667% !important; } }

@media (max-width: 767px) {
  .show-for-768-up {
    display: none; } }

@media (min-width: 768px) {
  .show-for-768-up {
    display: block; }
  .hide-for-768-up {
    display: none; } }

@media (min-width: 960px) {
  .l-960-4 {
    width: 33.33333% !important; }
  .l-960-2 {
    width: 16.66667% !important; } }

@media (max-width: 569px) {
  .show-for-570-up {
    display: none; } }

* {
  font-family: Lato; }

h1 {
  font-size: 1.618rem;
  font-family: Lato;
  font-weight: 900; }

p {
  font-weight: 300;
  font-style: italic;
  line-height: 1.618;
  margin-top: 0.7rem; }

h2 {
  font-weight: 400;
  font-size: 1.953rem; }

h3, p {
  font-size: 1rem;
  font-weight: 300; }

h3 {
  font-size: 1.563rem; }

.small-font {
  font-size: 0.618rem; }

@media (min-width: 410px) {
  html {
    font-size: 1rem; }
  body {
    line-height: 1.45; }
  h1, h2, h3, h4 {
    margin: 1.414rem 0 0.5rem;
    font-weight: inherit;
    line-height: 1.2; }
  h1 {
    margin-top: 0;
    font-size: 2.441rem; }
  h2 {
    font-size: 1.953rem; }
  h3 {
    font-size: 1.563rem; }
  .lead {
    font-size: 1.25rem; }
  .small-font, .font_small {
    font-size: 0.8rem; } }

@media (min-width: 380px) {
  .s-380-4 {
    width: 33.33333% !important; } }

@media (min-width: 410px) {
  .s-410-4 {
    width: 33.33333% !important; }
  .s-410-6 {
    width: 50% !important; }
  .s-410-8 {
    width: 66.66667% !important; } }

@media (min-width: 570px) {
  .hide-for-570-up {
    display: none; }
  .s-570-6 {
    width: 50% !important; }
  .s-570-3 {
    width: 25% !important; } }

@media (min-width: 768px) {
  .m-768-full {
    width: 100% !important; }
  .m-768-2 {
    width: 16.66667% !important; }
  .m-768-3 {
    width: 25% !important; }
  .m-768-4 {
    width: 33.33333% !important; }
  .m-768-5 {
    width: 41.66667% !important; }
  .m-768-6 {
    width: 50% !important; }
  .m-768-7 {
    width: 58.33333% !important; }
  .m-768-8 {
    width: 66.66667% !important; } }

@media (max-width: 767px) {
  .show-for-768-up {
    display: none; } }

@media (min-width: 768px) {
  .show-for-768-up {
    display: block; }
  .hide-for-768-up {
    display: none; } }

@media (min-width: 960px) {
  .l-960-4 {
    width: 33.33333% !important; }
  .l-960-2 {
    width: 16.66667% !important; } }

@media (max-width: 569px) {
  .show-for-570-up {
    display: none; } }

* {
  box-sizing: border-box; }

.grid {
  max-width: 45rem;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .grid {
      padding: 1.25rem; } }
  .grid .grid {
    padding: 0; }

.center > * {
  margin-left: auto;
  margin-right: auto; }

r
.column {
  float: none !important; }

.row:after {
  content: '';
  display: block;
  clear: both; }

.row > * {
  float: left; }
  .row > *:last-child:not(:first-child) {
    float: right; }

.s-full {
  width: 100%;
  margin-bottom: 1rem; }

.s-2 {
  width: 16.66667%; }

.s-3 {
  width: 25%; }

.s-4 {
  width: 33.33333%; }

.s-5 {
  width: 41.66667%; }

.s-6 {
  width: 50%; }

.s-7 {
  width: 58.33333%; }

.s-8 {
  width: 66.66667%; }

.s-9 {
  width: 75%; }

.s-10 {
  width: 83.33333%; }

@media (max-height: 48rem) {
  .show-for-medium-up {
    display: none; } }

@media (min-width: 48rem) {
  .show-for-medium-up {
    display: block; }
  .m-full {
    width: 100%;
    margin-bottom: 1rem; }
  .m-2 {
    width: 16.66667%; }
  .m-3 {
    width: 25%; }
  .m-4 {
    width: 33.33333%; }
  .m-5 {
    width: 41.66667%; }
  .m-6 {
    width: 50%; }
  .m-7 {
    width: 58.33333%; }
  .m-8 {
    width: 66.66667%; }
  .m-9 {
    width: 75%; }
  .m-10 {
    width: 83.33333%; } }

/* Large screens */
@media (min-width: 60rem) {
  .l-full {
    width: 100%;
    margin-bottom: 1rem; }
  .l-2 {
    width: 16.66667%; }
  .l-3 {
    width: 25%; }
  .l-4 {
    width: 33.33333%; }
  .l-5 {
    width: 41.66667%; }
  .l-6 {
    width: 50%; }
  .l-7 {
    width: 58.33333%; }
  .l-8 {
    width: 66.66667%; }
  .l-9 {
    width: 75%; }
  .l-10 {
    width: 83.33333%; } }

.success {
  background: red;
  height: 100vh;
  width: 100vw;
  color: white;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .success .back {
    color: #F7CC6C;
    cursor: pointer;
    font-style: italic; }

* {
  font-family: Lato; }

h1 {
  font-size: 1.618rem;
  font-family: Lato;
  font-weight: 900; }

p {
  font-weight: 300;
  font-style: italic;
  line-height: 1.618;
  margin-top: 0.7rem; }

h2 {
  font-weight: 400;
  font-size: 1.953rem; }

h3, p {
  font-size: 1rem;
  font-weight: 300; }

h3 {
  font-size: 1.563rem; }

.small-font {
  font-size: 0.618rem; }

@media (min-width: 410px) {
  html {
    font-size: 1rem; }
  body {
    line-height: 1.45; }
  h1, h2, h3, h4 {
    margin: 1.414rem 0 0.5rem;
    font-weight: inherit;
    line-height: 1.2; }
  h1 {
    margin-top: 0;
    font-size: 2.441rem; }
  h2 {
    font-size: 1.953rem; }
  h3 {
    font-size: 1.563rem; }
  .lead {
    font-size: 1.25rem; }
  .small-font, .font_small {
    font-size: 0.8rem; } }

body {
  margin: 0; }

header .svg {
  width: 10vw;
  float: left; }

svg {
  width: 100%;
  height: auto; }

textarea, input {
  width: 100%; }

textarea,
input {
  border: 1px solid gray; }
  textarea:focus,
  input:focus {
    border: 2px solid gray; }

textarea {
  resize: none; }

section {
  margin-bottom: 3rem; }

input {
  height: 2.3rem; }
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; }

.bullet {
  display: inline-block;
  font-size: 1rem;
  height: 20px;
  width: 20px;
  border-radius: 50% 50%;
  background: red;
  color: white;
  text-align: center;
  position: relative;
  top: -5px; }

.question {
  margin-bottom: 1.5rem; }

button.send {
  border: none;
  color: white;
  background: #333;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  position: relative;
  top: -1rem;
  float: right;
  cursor: pointer; }

.cities {
  position: relative;
  z-index: 1; }
