<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Briefing</title>
  <link rel="stylesheet" href="components/bundle.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="vendors/angular/angular.min.js" charset="UTF-8"></script>
  <script src="vendors/angular-route/angular-route.min.js" charset="UTF-8"></script>
  <script src="components/form/formController.js" charset="UTF-8"></script>
  <script src="components/script.js" charset="UTF-8"></script>
</head>

<body ng-app="briefing">

  <header>
	<div class="svg">
	    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 401.11 251.28">
	      <path fill="#F00" d="M0 0v251.28L401.11 0z" />
	    </svg>
	</div>
  </header>

  <form class="grid" ng-controller="formController">
    <section class="personalData">
      <h2 class="basic-info">
				<span class="bullet">1</span>
				Your Basic Info
			</h2>
      <div class="item" ng-repeat="item in personalData">
        <h4>{{item.field}}</h4>
        <!-- the property list will be used when we reach the item 'City' -->
        <input type="{{item.type}}" ng-model="item.content" ng-change="getCities(item.field, item.content)" list="{{item.field}}">
        <datalist id="City" ng-if="item.field=='City'">
          <option class="city" ng-repeat="city in cities">{{city}}</option>
        </datalist>
      </div>
    </section>
    <section class="topic" ng-repeat="topic in topics">
      <h2>
				<span class="bullet">{{$index+2}}</span>
				{{topic.subject}}
			</h2>
      <div class="question" ng-repeat="item in topic.questions">
        <h3>{{item.question}}</h3>
        <p class="commentary">{{item.commentary}}</p>
        <textarea cols="30" rows="10" ng-model="item.answer"></textarea>
      </div>
    </section>
    <button class="send" ng-click="send()">Send</button>
  </form>
</body>

</html>
