.success{
	background: red;
	height:100vh;
	width: 100vw;
	color: white;
	text-align: center;
	display: flex;
	align-items:center;
	justify-content: center;

	.back{
		color:#F7CC6C;
		cursor: pointer;
		font-style: italic;
	}	
}