<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
	<title>Briefing</title>
	<link rel="stylesheet" href="components/bundle.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="vendors/angular/angular.min.js" charset="UTF-8"></script>
	<script src="vendors/angular-route/angular-route.min.js" charset="UTF-8"></script>
	<script src="components/form/formController.js" charset="UTF-8"></script>
	<script src="components/script.js" charset="UTF-8"></script>
</head>

<body ng-app="briefing">
  <div class="success" ng-controller="historyController">

	<div class="content">
	    <h1>Successfully sent</h1>
	    <h3 class="back" ng-click="historyBack()">Back<h3>
	</div>

    
</body>

</html>
